    window-rule {
        geometry-corner-radius 20 // Set every window radius to 20
        clip-to-geometry true
    }

    window-rule {
        match app-id=r#"^steam_app_"#
        open-fullscreen true
    }

    layer-rule {
        match namespace="^dms:wallpaper"
        place-within-backdrop true
    }
